In [1]:
from flask import Flask, render_template
import sqlite3


conn = sqlite3.connect('test.db')           # Connect to the database

print("Opened database successfully")

conn.execute('''                            
    CREATE TABLE COMPANY (
    ID          INT         PRIMARY KEY     NOT NULL,
    NAME        TEXT        NOT NULL,
    AGE         INT         NOT NULL,
    ADDRESS     CHAR(50)    NOT NULL,
    SALARY      REAL);
'''
)

# Execute the SQL query to create the table

print("Table created successfully")

conn.close()

Opened database successfully
Table created successfully

In [2]:
conn = sqlite3.connect('test.db')          
print("Opened database successfully")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
        VALUES (1, 'Paul', 32, 'California', 20000.00 )")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
        VALUES (2, 'Allen', 25, 'Texas', 15000.00 )")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
        VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
        VALUES (4, 'Mark', 25, 'Rich-Mond', 65000.00 )")

conn.commit()

print("Records created successfully")
conn.close()

Opened database successfully
Records created successfully