In [1]:
from flask import Flask, render_template
import sqlite3


conn = sqlite3.connect('test.db')           # Connect to the database

print("Opened database successfully")

conn.execute('''                            
    CREATE TABLE COMPANY (
    ID          INT         PRIMARY KEY     NOT NULL,
    NAME        TEXT        NOT NULL,
    AGE         INT         NOT NULL,
    ADDRESS     CHAR(50)    NOT NULL,
    SALARY      REAL);
'''
)

# Execute the SQL query to create the table

print("Table created successfully")

conn.close()

Opened database successfully
Table created successfully

In [2]:
conn = sqlite3.connect('test.db')          
print("Opened database successfully")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
        VALUES (1, 'Paul', 32, 'California', 20000.00 )")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
        VALUES (2, 'Allen', 25, 'Texas', 15000.00 )")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
        VALUES (3, 'Teddy', 23, 'Norway', 20000.00 )")

conn.execute("INSERT INTO COMPANY (ID,NAME,AGE,ADDRESS,SALARY) \
        VALUES (4, 'Mark', 25, 'Rich-Mond', 65000.00 )")

conn.commit()

print("Records created successfully")
conn.close()

Opened database successfully
Records created successfully

In [3]:
import sqlite3

conn = sqlite3.connect('test.db')
print("Opened database successfully");

cursor=conn.execute("SELECT id, name, address, salary from COMPANY")
for row in cursor:
    print("ID = ",row[0])
    print("NAME = ",row[1])
    print("NAME = ",row[2])
    print("SALARY = ",row[3],"\n")

print("Operation done successfully")
conn.close()

Opened database successfully
ID =  1
NAME =  Paul
NAME =  California
SALARY =  20000.0

ID =  2
NAME =  Allen
NAME =  Texas
SALARY =  15000.0

ID =  3
NAME =  Teddy
NAME =  Norway
SALARY =  20000.0

ID =  4
NAME =  Mark
NAME =  Rich-Mond
SALARY =  65000.0

Operation done successfully

In [4]:
conn = sqlite3.connect('test.db')
print("Opened database successfully", end="\n\n")

conn.execute("UPDATE COMPANY set SALARY = 25000.00 where ID = 3")
conn.commit()

print("Total number of rows updated :", conn.total_changes)

cursor = conn.execute("SELECT id, name, address, salary from COMPANY")

for row in cursor:
    print(row)
    print("ID = ", row[0])
    print("NAME = ", row[1])
    print("ADDRESS = ", row[2])
    print("SALARY = ", row[3], end="\n\n")
    
print("Operation done successfully", end="\n\n")

print("Total number of rows updated :", conn.total_changes)

conn.close()

Opened database successfully

Total number of rows updated : 1
(1, 'Paul', 'California', 20000.0)
ID =  1
NAME =  Paul
ADDRESS =  California
SALARY =  20000.0

(2, 'Allen', 'Texas', 15000.0)
ID =  2
NAME =  Allen
ADDRESS =  Texas
SALARY =  15000.0

(3, 'Teddy', 'Norway', 25000.0)
ID =  3
NAME =  Teddy
ADDRESS =  Norway
SALARY =  25000.0

(4, 'Mark', 'Rich-Mond', 65000.0)
ID =  4
NAME =  Mark
ADDRESS =  Rich-Mond
SALARY =  65000.0

Operation done successfully

Total number of rows updated : 1