## Structured Data

Step 1 - Conversion of unstructured data into structured data

Unstructured data - Has no meaning to it

Structured data - Has meaning to it

In [1]:
mydata = {'RollNo': 10, 'Name': 'Amit', 'University': 'Chitkara'}

In [2]:
students = [{'RollNo': 10, 'Name': 'Amit', 'University': 'Chitkara'}, {'RollNo': 10, 'Name': 'Amit1', 'University': 'Chitkara'}, {'RollNo': 10, 'Name': 'Amit2', 'University': 'Chitkara'}]
print(students)
print(type(students))

[{'RollNo': 10, 'Name': 'Amit', 'University': 'Chitkara'}, {'RollNo': 10, 'Name': 'Amit1', 'University': 'Chitkara'}, {'RollNo': 10, 'Name': 'Amit2', 'University': 'Chitkara'}]
<class 'list'>

In [3]:
for i in students:
    print(i)

{'RollNo': 10, 'Name': 'Amit', 'University': 'Chitkara'}
{'RollNo': 10, 'Name': 'Amit1', 'University': 'Chitkara'}
{'RollNo': 10, 'Name': 'Amit2', 'University': 'Chitkara'}

## Persistence

Pandas - Library in python for analytics

No need for a database in pandas, we can use data directly from any source

In [4]:
import pandas as pd

In [5]:
import pandas as pd
mydata = {'RollNo': 10, 'Name': 'Amit', 'University': 'Chitkara'}
pd.DataFrame(mydata, index=[1])

   RollNo  Name University
1      10  Amit   Chitkara

In [6]:
pd.DataFrame(mydata, index=[1])                        # DataFrame keyword creates a data frame for storing data

   RollNo  Name University
1      10  Amit   Chitkara

In [7]:
df = pd.DataFrame([['1', 'Amit'],['2', 'Rahul']], index = [0,1], columns=['Rollno', 'Name'])              # index argument provides the row name
                                                                                                        # columns argument provides the column name

In [8]:
df

  Rollno   Name
0      1   Amit
1      2  Rahul

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
df.to_excel('mydata.xlsx')                     # Converts the data frame into an excel document

In [11]:
pd.read_excel('mydata.xlsx')                   # Loads a dataframe from excel

   Unnamed: 0  Rollno   Name
0           0       1   Amit
1           1       2  Rahul

In [12]:
import numpy as np
np.arange(0,10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])