In [49]:
import pandas as pd
import numpy as np
import matplotlib as plt
import seaborn as sns 
%matplotlib inline

In [50]:
import warnings

warnings.filterwarnings('ignore')

In [51]:
df_train=pd.read_csv("train.csv")
df_train

,id,Sex,Length,Diameter,Height,Whole weight,Whole weight.1,Whole weight.2,Shell weight,Rings
0,0,F,0.550,0.430,0.150,0.7715,0.3285,0.1465,0.2400,11
1,1,F,0.630,0.490,0.145,1.1300,0.4580,0.2765,0.3200,11
2,2,I,0.160,0.110,0.025,0.0210,0.0055,0.0030,0.0050,6
3,3,M,0.595,0.475,0.150,0.9145,0.3755,0.2055,0.2500,10
4,4,I,0.555,0.425,0.130,0.7820,0.3695,0.1600,0.1975,9
...,...,...,...,...,...,...,...,...,...,...
90610,90610,M,0.335,0.235,0.075,0.1585,0.0685,0.0370,0.0450,6
90611,90611,M,0.555,0.425,0.150,0.8790,0.3865,0.1815,0.2400,9
90612,90612,I,0.435,0.330,0.095,0.3215,0.1510,0.0785,0.0815,6
90613,90613,I,0.345,0.270,0.075,0.2000,0.0980,0.0490,0.0700,6
90614,90614,I,0.425,0.325,0.100,0.3455,0.1525,0.0785,0.1050,8

In [52]:
df_train.shape

(90615, 10)

In [53]:
df_train.describe()

,id,Length,Diameter,Height,Whole weight,Whole weight.1,Whole weight.2,Shell weight,Rings
count,90615.000000,90615.000000,90615.000000,90615.000000,90615.000000,90615.000000,90615.000000,90615.000000,90615.000000
mean,45307.000000,0.517098,0.401679,0.135464,0.789035,0.340778,0.169422,0.225898,9.696794
std,26158.441658,0.118217,0.098026,0.038008,0.457671,0.204428,0.100909,0.130203,3.176221
min,0.000000,0.075000,0.055000,0.000000,0.002000,0.001000,0.000500,0.001500,1.000000
25%,22653.500000,0.445000,0.345000,0.110000,0.419000,0.177500,0.086500,0.120000,8.000000
50%,45307.000000,0.545000,0.425000,0.140000,0.799500,0.330000,0.166000,0.225000,9.000000
75%,67960.500000,0.600000,0.470000,0.160000,1.067500,0.463000,0.232500,0.305000,11.000000
max,90614.000000,0.815000,0.650000,1.130000,2.825500,1.488000,0.760000,1.005000,29.000000

In [54]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 90615 entries, 0 to 90614
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              90615 non-null  int64
 1   Sex             90615 non-null  object
 2   Length          90615 non-null  float64
 3   Diameter        90615 non-null  float64
 4   Height          90615 non-null  float64
 5   Whole weight    90615 non-null  float64
 6   Whole weight.1  90615 non-null  float64
 7   Whole weight.2  90615 non-null  float64
 8   Shell weight    90615 non-null  float64
 9   Rings           90615 non-null  int64
dtypes: float64(7), int64(2), object(1)
memory usage: 6.9+ MB

In [55]:
col_names_train = ['id', 'Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Whole weight.1','Whole weight.2','Shell weight','Rings']
for col in col_names_train:
    print(df_train[col].value_counts())

id
0        1
60352    1
60416    1
60415    1
60414    1
        ..
30203    1
30202    1
30201    1
30200    1
90614    1
Name: count, Length: 90615, dtype: int64
Sex
I    33093
M    31027
F    26495
Name: count, dtype: int64
Length
0.5750    3267
0.5800    2670
0.5700    2167
0.5500    2122
0.5950    1992
          ...
0.5630       1
0.3470       1
0.4405       1
0.3540       1
0.4110       1
Name: count, Length: 157, dtype: int64
Diameter
0.4500    4182
0.4750    3307
0.4550    2715
0.4000    2667
0.4700    2441
          ...
0.0750       1
0.0550       1
0.3755       1
0.6500       1
0.1130       1
Name: count, Length: 126, dtype: int64
Height
0.1500    5742
0.1400    5415
0.1550    5230
0.1450    5048
0.1350    4980
          ...
0.1160       1
0.0090       1
0.1030       1
0.0830       1
0.0925       1
Name: count, Length: 90, dtype: int64
Whole weight
0.5805    485
0.7665    477
0.9740    361
0.2225    347
0.8295    325
         ...
1.6210      1
0.7445      1
1.2430      1
2.0630      1
1.0468      1
Name: count, Length: 3175, dtype: int64
Whole weight.1
0.0960    403
0.3485    390
0.2945    366
0.3155    365
0.4935    364
         ...
0.7915      1
1.0855      1
0.9220      1
0.9410      1
1.0410      1
Name: count, Length: 1799, dtype: int64
Whole weight.2
0.1715    799
0.1725    689
0.2195    611
0.1625    525
0.2145    501
         ...
0.4905      1
0.0566      1
0.0513      1
0.0276      1
0.5655      1
Name: count, Length: 979, dtype: int64
Shell weight
0.24000    1628
0.22000    1269
0.25000    1259
0.27500    1211
0.26500    1200
           ...
0.10535       1
1.00500       1
0.48750       1
0.54600       1
0.20050       1
Name: count, Length: 1129, dtype: int64
Rings
9     17465
8     14499
10    12464
7      9008
11     8407
6      5411
12     4719
13     4074
5      2862
14     2507
15     2072
16     1439
4      1402
17     1175
18      848
19      639
20      507
3       386
21      255
23      180
22      108
27       41
2        29
24       29
1        25
29       24
25       22
26       18
Name: count, dtype: int64

In [56]:
x = df_train.drop("Rings",axis=1)
y = df_train['Rings']

In [57]:
x

,id,Sex,Length,Diameter,Height,Whole weight,Whole weight.1,Whole weight.2,Shell weight
0,0,F,0.550,0.430,0.150,0.7715,0.3285,0.1465,0.2400
1,1,F,0.630,0.490,0.145,1.1300,0.4580,0.2765,0.3200
2,2,I,0.160,0.110,0.025,0.0210,0.0055,0.0030,0.0050
3,3,M,0.595,0.475,0.150,0.9145,0.3755,0.2055,0.2500
4,4,I,0.555,0.425,0.130,0.7820,0.3695,0.1600,0.1975
...,...,...,...,...,...,...,...,...,...
90610,90610,M,0.335,0.235,0.075,0.1585,0.0685,0.0370,0.0450
90611,90611,M,0.555,0.425,0.150,0.8790,0.3865,0.1815,0.2400
90612,90612,I,0.435,0.330,0.095,0.3215,0.1510,0.0785,0.0815
90613,90613,I,0.345,0.270,0.075,0.2000,0.0980,0.0490,0.0700
90614,90614,I,0.425,0.325,0.100,0.3455,0.1525,0.0785,0.1050

In [58]:
y

0        11
1        11
2         6
3        10
4         9
         ..
90610     6
90611     9
90612     6
90613     6
90614     8
Name: Rings, Length: 90615, dtype: int64

In [59]:
df_train['Sex'].value_counts()

Sex
I    33093
M    31027
F    26495
Name: count, dtype: int64

In [60]:
df_train.isnull().sum()

id                0
Sex               0
Length            0
Diameter          0
Height            0
Whole weight      0
Whole weight.1    0
Whole weight.2    0
Shell weight      0
Rings             0
dtype: int64

In [61]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [62]:
x_train.shape,x_test.shape

((72492, 9), (18123, 9))

In [63]:
import category_encoders as ce

In [66]:
encoder = ce.OrdinalEncoder(cols=['id', 'Sex', 'Length', 'Diameter', 'Height', 'Whole weight', 'Whole weight.1','Whole weight.2','Shell weight'])
x_train = encoder.fit_transform(x_train)
x_test = encoder.transform(x_test)

In [67]:
x_train.head()

,id,Sex,Length,Diameter,Height,Whole weight,Whole weight.1,Whole weight.2,Shell weight
87045,1,1,1,1,1,1,1,1,1
45728,2,2,2,2,2,2,2,2,2
20812,3,3,3,3,3,3,3,3,3
43201,4,3,4,4,4,4,4,4,4
23336,5,1,5,5,5,5,5,5,5

In [69]:
x_test.head()

,id,Sex,Length,Diameter,Height,Whole weight,Whole weight.1,Whole weight.2,Shell weight
51331,-1.0,2,22.0,9.0,19.0,767.0,44.0,472.0,101.0
67142,-1.0,3,33.0,32.0,10.0,210.0,122.0,123.0,47.0
51843,-1.0,2,26.0,2.0,35.0,2516.0,33.0,646.0,132.0
64555,-1.0,1,95.0,84.0,24.0,1196.0,176.0,412.0,59.0
46833,-1.0,2,17.0,22.0,7.0,596.0,250.0,125.0,41.0

In [70]:
from sklearn.tree import DecisionTreeRegressor

In [74]:


# Instantiate the DecisionTreeRegressor with the appropriate criterion
clf_mse = DecisionTreeRegressor(criterion='mse', random_state=0)

# Print the classifier
print(clf_mse)

# Fit the model
clf_mse.fit(x_train, y_train)

DecisionTreeRegressor(criterion='mse', random_state=0)

InvalidParameterError: The 'criterion' parameter of DecisionTreeRegressor must be a str among {'friedman_mse', 'squared_error', 'poisson', 'absolute_error'}. Got 'mse' instead.